<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="<%= image_path('obh_logo.png') %>" alt="Image of a red brick" width="144" height="114">
    <h1 class="display-5 fw-bold">The Right Home in the Right Neighborhood</h1>
    <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
    Find or build a lasting home with natural materials in a walkable neighborhood.
    </p>
      <p class="lead mb-4">
      Only Brick Houses specializes in connecting you with architects and buidlers who build beautiful homes with natural materials that fit
      the ecology and character of where you live. We also help you find existing homes in the right neighborhoods: walkable, shops, restaurants, parks, and amenities for any stage of your life.
      </p>
      <p class="lead mb-4"> Say goodbye to "McMansions", car-only infrastructure, and cheaply built housing. </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <%= link_to 'Connect with a Home Builder Today', builders_path, :class => "btn btn-danger btn-lg px-4 me-md-2"%>
      </div>
    </div>
  </div>
    <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="<%= image_path('book_loft_homepage.png') %>" class="d-block mx-lg-auto img-fluid" alt="Brick neighborhood" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Find your neighborhood</h1>
        <p class="lead mb-4">Whether it's living near a local coffee shop or walking your children to school, the neighborhood that you live in matters.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <%= link_to 'Explore neighborhoods', neighborhoods_path, :class => "btn btn-danger btn-lg px-4 me-md-2"%>
        </div>
      </div>
    </div>
  </div>
  <div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="<%= image_path('book_loft_homepage.png') %>" class="d-block mx-lg-auto img-fluid" alt="Brick neighborhood" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Find the best products</h1>
      <p class="lead mb-4">It's hard to find high-quality products made with real materials. Why not let us help you?</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <%= link_to 'Explore products', products_path, :class => "btn btn-danger btn-lg px-4 me-md-2"%>
      </div>
    </div>
  </div>
</div>
